/* шрифты */
@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding: 6px 18px;
}

.button:after {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.main_container {
  flex-grow: 1;
}

.header {
  background-color: #FFE17F;
  margin-top: 40px;
  position: relative;
  padding-bottom: 148px;
  padding-left: 60px;
  padding-right: 60px;
}

.header::before {
  content: "";
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 145px;
  height: 36px;
  top: -20px;
  left: 60px;
}

.header::after {
  content: "01";
  font-size: 180px;
  font-weight: 800;
  font-family: "Rubik";
  color: #fff;
  line-height: 30px;
  position: absolute;
  right: 49px;
  bottom: 33px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 40px;
  justify-content: space-between;
}

.header_search {
  padding-left: 60px;
  display: flex;
}

.search_field {
  max-width: 360px;
  width: 100%;
  background-color: #FFE17F;
  border: 2px solid #000;
  border-radius: 50px 0 0 50px;
  padding: 10px 20px 10px 48px;
  position: relative;
}

.search_button {
  background-color: #FFE17F;
  border: 2px solid #000;
  border-radius: 0 50px 50px 0;
  padding: 10px 56px;
  margin-left: -2px;
}

.search_button,
.search_field {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.search_field::after {
  content: "";
  display: block;
  background-image: url(/images/search_icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;


}
.header_list {
  font-family: "Rubik";
  font-weight: 400;
  line-height: 30px;
  display: grid;
  grid-template-columns: 231px max-content max-content;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header_list_info {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 520px max-content max-content max-content;
  position: relative;
  align-items: center;
}

.header_list_item:not(:last-child) {

  margin-right: 50px;
}

.header_link {
  display: block;
  padding: 6px 16px;
  padding-left: 30px;
}

.header_link_info {
  padding: 15px 10px;
}

.catalog_icon {
  padding-right: 60px;
  position: relative;
}

.catalog_svg {
  position: absolute;
  margin-left: 15px;
  top: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}

.slider_info_wrapper {
  display: flex;
  margin-top: -180px;
  align-items: flex-end;
  justify-content: space-evenly;
}

.slider_text_wrapper {
  z-index: 1;
}

.slider_description_title{
  font-size: 50px;
  line-height: 50px;
  width: 545px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.slider_description {
  font-family: "Rubik";
  line-height: 30px;
  width: 545px;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.slider_button {
  display: inline-block;
  margin-bottom: 60px;
}

.slider_main_pic {
display: block;
width: 100%;
}

.slider_info_list {
  font-family: "Rubik";
  display:  grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: max-content auto;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.slider_info_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.slider_info_description {
  color: #444;
  grid-row: 2 / 2;
  margin: 0;
  padding: 0;
}

.slider_main_image {
  position: relative;
}

.slider_left_button,
.slider_right_button {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  border: none;
  background-color: #fff;
  cursor: pointer;

}

.slider_left_button {
  left: 30px;
  rotate: 180deg;
}

.slider_right_button {
  right: 20px;
}

.slider_pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 70px;
}

.slider_pagination_button {
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  outline: 2px solid #000;
  cursor: pointer;
}

.slider_padination_item:not(:last-child) {
  margin-right: 20px;
}

.current_pagination_item {
  background-color: #000;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 70px;
}
.product_item {
  display: flex;
  flex-direction: column;
}

.product_link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.product_img_wrap {
  display: flex;
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 33px;
}

.product_img {
  display: block;
  margin: auto;
}

.delivery_wrapper {
 position: relative;
 margin-bottom: 215px;
}

.delivery {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 280px 566px;
}

.delivery_wrapper::after {
  content: "";
  width: 100%;
  background-color: #F0F0F0;
  height: 289px;
  position: absolute;
  display: block;
  z-index: -1;
  top: 25px;
  right: 0;
  left: 0;
}

.delivery_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  position: relative;
}
.delivery_list::after {
  content: "";
  width: 7px;
  height: 320px;
  position: absolute;
  display: block;
  background-color: #000;
  top: -64px;
  bottom: 0;
  right: 0;
}

.delivery_item:not(:last-child) {
  margin-bottom: 56px;
}

.delivery_text_wrapper {
  display: grid;
  grid-template-columns: 448px 136px;
  position: relative;
  column-gap: 110px;
  padding-left: 116px;
}

.delivery_text_wrapper::after {
  content: "";
  width: 136px;
  height: 164px;
  background-image: url(/images/delivery_man.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  grid-column: 2 / -1;
}

.delivery_title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  grid-column: 1/2;
}
.delivery_description {
  grid-column: 1/2;
}

.delivery_rare_wrapper {
  background-color: #F0F0F0;
  padding: 39px 125px;
  position: relative;
  margin-bottom: 117px;
}

.delivery_rare_wrapper::before {
  content: "";
  background-color: #FFE17F;
  background-image: url(/images/delivery_car.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 125px;
  height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
}

.delivery_rare_wrapper::after {
  content: "";
  background-image: url(/images/tooltip_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 125px;
  height: 100px;
  top: 0;
  bottom: 0;
  right: 0;
}

.delivery_rare {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 auto;
}

.delivery_description,
.contacts_description,
.contacts_time_item  {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.delivery_link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}
 .delivery_current {
  color: #FFC700;
 }

.delivery_current::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  width: 280px;
  height: 40px;
  z-index: -1;
}

.contacts_time_item {
  margin-bottom: 0;
}

.contacts_time_item:last-child {
  margin-bottom: 40px;
}

.contacts {
  color: #444;
}

.contacts_list {
  margin: 0;
  padding: 0;
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 108px;
}

.contact_title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.address {
  margin: 0;
}

.delivery_company {
  display: flex;
  flex-direction: column;
}

.contacts_delivery_link {
  padding-left: 34px;
  margin-bottom: 19px;
  position: relative;
  color: #000;
}

.contacts_delivery_link::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-image: url(../images/delivery_dot.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.contacts_button {
  color: #000;
  border: none;
  background-color: transparent;
}

.contacts_address {
  font-style: normal;
}

.address_title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.contacts_tel {
  display: block;
  margin-bottom: 30px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px
}

.contacts_time_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.subscribe_wrapper {
  background-color: #F0F0F0;
}

.subscribe {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 56px;

}

.subscribe_title {
  width: 348px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.subscribe_text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
  align-items: center;
  padding-top: 74px;

}

.subscribe_description,
.this_is_free  {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  margin: 0;
  padding: 10px 10px 10px 16px;
}
.subscribe_form_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe_form {
  display: flex;
}

.subscribe_field {
  width: 557px;
  background-color: #F0F0F0;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 11px 20px;

}

.subscribe_description {
  max-width: 560px;
}

.subscribe_button {
  background-color: inherit;
  border: 3px solid #C4C4C4;
  padding: 18px 39px;
}

.footer_wrapper {
  background-color: #444;
}

.footer {
  padding-top: 62px;
  padding-bottom: 62px;
  color: #fff;
  width: 1160px;
  margin: 0 auto;
}

.footer_logo {
margin-bottom: 35px;
}

.footer_address_wrapper,
.footer_academy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_address,
.footer_tel {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer_address {
  width: 240px;
  margin: 0;
  padding: 0;
}

.footer_tel {
  margin-bottom: 63px;
}

.footer_info_wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
}

.footer_social_media_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.footer_decore {
  position: relative;
}

.footer_decore::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  display: block;
  position: absolute;
  left: 0;
}

.footer_list,
.footer_social_media_list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer_list {
  margin-bottom: 62px;
}
.footer_social_media_link:not(:last-child) {
  margin-right: 15px;
}

  .footer_item:not(:last-child) {
  margin-right: 35px;
  }


.footer_academy {
  align-items: flex-end;
}
