/* шрифты */
@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  max-width: 1440px;
  margin: 0;
  height: 100%;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1160px;
  margin: 0 auto;;
}

.main_container {
  flex-grow: 1;
}

.header {
  background-color: #FFE17F;
  margin-top: 40px;
  position: relative;
  padding-bottom: 148px;
}

.header::before {
  content: "";
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 145px;
  height: 36px;
  top: -20px;
  left: 60px;
}

.header::after {
  content: "01";
  font-size: 180px;
  font-weight: 800;
  font-family: "Rubik";
  color: #fff;
  line-height: 30px;
  position: absolute;
  right: 49px;
  bottom: 33px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 40px;
}

.header_search {
  padding-left: 60px;
  display: flex;
}

.search_field {
  max-width: 360px;
  width: 100%;
  background-color: #FFE17F;
  border: 2px solid #000;
  border-radius: 50px 0 0 50px;
  padding: 10px 20px 10px 48px;
  position: relative;
}

.search_button {
  background-color: #FFE17F;
  border: 2px solid #000;
  border-radius: 0 50px 50px 0;
  padding: 10px 56px;
  margin-left: -2px;
}

.search_button,
.search_field {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.search_field::after {
  content: "";
  display: block;
  background-image: url(/images/search_icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;


}
.header_list {
  font-family: "Rubik";
  font-weight: 400;
  line-height: 30px;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header_list_info {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header_list_item:first-child {
  margin-right: 176px;
}

.header_list_item_catalog:first-child {
  margin-right: 276px;
}

.header_link {
  display: block;
  padding: 6px 16px;
  padding-left: 30px;

}


.header_link_info:first-child {
  padding-right: 57px;
}

.main_description_title{
  font-size: 50px;
  line-height: 50px;
  width: 545px;
  margin: 0;
  padding: 0;
}

.main_description {
  font-family: "Rubik";
  line-height: 30px;
  width: 545px;
  margin: 0;
  padding: 0;
}

.product_info_list {
  display:  grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: max-content auto;
  margin: 0;
  padding: 0;
}

.product_info_title {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;

}

.product_info_description {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444;
  grid-row: 2 / 2;
  margin: 0;
  padding: 0;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product_img_wrap {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.product_img {
  display: block;
  margin: auto;
}

.delivery_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.delivery_item:not(:last-child) {
  margin-bottom: 56px;
}

.delivery_title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.delivery_descripion {
  width: 448px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.delivery_rare {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
}

.contacts {
  color: #444;
}

.contacts_list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.contact_title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
  margin: 0;
  padding: 0;
}

.contacts_descripion {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.delivery_company {
  display: flex;
  flex-direction: column;
}

.contacts_delivery_link {
  padding-left: 34px;
  margin-bottom: 19px;
  position: relative;
  color: #000;
}

.contacts_delivery_link::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-image: url(../images/delivery_dot.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.contacts_button {
  color: #000;
}
.contacts_address {
  font-style: normal;
}

.address_title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444;
  margin: 0;
  padding: 0;
}

.subscribe_title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe_description,
.this_is_free  {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444
}

.footer {
  background-color: #444;
  color: #fff;
}

.footer_address,
.footer_tel {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer_list {
    list-style-type: none;
  }

.delivery_link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.
